:root{
  --color-primario: #1971c2;
  --color-fondo: #f0f0f0;
  --espaciado:20px;
}

body{
  background-color: var(--color-fondo);
}

h1{
  color: var(--color-primario);
  margin-bottom: var(--espaciado);
}